@import url('https://fonts.googleapis.com/css2? family=Poppins:wght@400;600&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins",sans-serif;
	
	

} 
body 
{ /*/*background-color: #dfe9f5;*/ 
	background-image:url("./background/bg.jpg" );
	background-size: 100% 130%  ;
	background-repeat: no-repeat;
	
	overflow-y: hidden;

	

}
.wrapper
{
	width: 330px;
	padding: 2rem 1rem;
	margin: 50px auto;
	position: relative;
	left: 320px;
	top:35px;
	/*background-color: #fff;*/
	border-radius:10px;
    text-align: center;
    box-shadow: 0 20px 35px rgba(0,0,0,0.1);
    /*background-image:url("./background/bg.jpg" );
	background-size: 100% 100%  ;
	background-repeat: no-repeat;*/
	
	/*color:#fff;*/


}
h1{
	font-size: 2rem;
	/* color: #07001f;*/
	 margin-bottom: 1.2rem;
	 color:#fff;

}
form input
{
width: 90%;
outline: none;
border:1px solid #fff;
padding: 12px 20px;
margin-bottom:10px;
border-radius: 20px;
background-color: #e4e4e4;


}
.terms
{
color:#fff;
}
button
{
	font-size: 1rem;
	margin-top: 1.8rem;
	padding: 10px 0 ;
	border-radius: 20px;
	outline: none;
	border: none;
	width: 90%;
	color: #fff;
	cursor: pointer;
background: rgb(17,107,143);
}
.member
{
	color:white;
}
a{
	text-decoration: none;
}
